$font-japanese-system: '"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif';
$font-yugo: '"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif';
$font-helvetica: '"Helvetica Neue", Helvetica, Arial, sans-serif';
$font-heiseiKakuGothicStd: 'heisei-kaku-gothic-std', sans-serif;
