//constants
@import './constants/animation.scss';
@import './constants/break-points.scss';
@import './constants/color.scss';
@import './constants/font.scss';

//functions
@import './functions/function';
@import './functions/mixins';

// reset
@import './reset/reset';

//utility
@import './utility/state';

//global
@import './global/base';

//parts
@import './parts/index';
